[Bb]uild/**/*
[Bb]uilds/**/*
!**/.gitkeep
Temp/**/*
*.csproj
*.sln
.vs/
*.db
*.opendb
*.idea
obj/
Library/
SwitchIL2CPPCache/
SwitchIL2CPPStats/
TestResults/
AssetBundles/
Blend/*.blend1
Assets/WwiseSettings.xml
GeneratedSoundBanks/
GeneratedSoundBanks*
IncrementalSoundBankData.xml
AkWwiseProjectData.asset
WwiseUnityIntegration_*_Src.zip
*.validationcache
.cache
.vscode
*.wsettings

Assets/Plugins/Editor/JetBrains/
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/JetBrains/
Assets/Plugins/JetBrains.meta
Assets/Plugins/Editor.meta
